<h3>Create Question</h3><hr/>
<div>
    <form ng-submit="addQuestion()">
        <input type="submit" value="Add Question" class="btn btn-success"/>
        <button ng-click="preview();" type="button" class="btn btn-warning">Preview</button>
        <hr/>
        <div ng-if="mode=='add'">
            <div class="form-group">
                <label for="topic">Topic Id</label>
                <input type="text" class="form-control" id="topic" placeholder="topic" disabled="disabled" ng-model="topic.name">
            </div>
            <div class="form-group">
                <label for="topic">Categories</label>
                <select
                        class="form-control"
                        ng-model="ques.categories"
                        ng-options="cat.name for cat in topic.categories track by cat.id"
                        multiple="true"
                        >
                </select>
            </div>
            <div class="form-group">
                <label for="question">Question</label>
                <textarea class="form-control" id="question" placeholder="question" ng-model="ques.question"></textarea>
            </div>
            <div class="form-group">
                <label for="explanation">Explanation</label>
                <textarea class="form-control" id="explanation" placeholder="explanation" ng-model="ques.explanation"></textarea>
            </div>
            <div class="form-group">
                <label for="options">Options</label>
                <button type="button" class="btn btn-success" ng-click="addOption()">Add Option</button>
                <br/>
                <div ng-repeat="op in ques.options">
                        <div>
                            <label for="option-$index">
                                Option {{$index | integreToChar}}
                                <span ng-if="op.isAnswer"  class="label label-success">Answer</span>
                            </label>
                            <textarea ng-model="op.option" class="form-control">{{op.option}}</textarea>
                            Make Answer :: <input type="checkbox" ng-model="op.isAnswer" ng-value="{{op.isAnswer}}">
                            <button type="button" ng-click="deleteOption(op)" class="btn btn-small btn-danger">Delete Option</button>
                        </div><br/>
                    </div>
            </div>
            
            <div class="form-group">
                <label for="level">Level</label>
                <input type="number" class="form-control" id="level" placeholder="Level" ng-model="ques.level" min="1" max="10">
            </div>
        </div>
        <div ng-if="mode=='preview'">
            <h3>Preview</h3>
            <hr/>

            <table class="table table-bordered">
                <tr> 
                    <td colspan="4"><strong>Ques : </strong><span ng-bind-html="ques.question | escapeHtml"></span></td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Expln : </strong><span ng-bind-html="ques.explanation | escapeHtml"></span></td>
                </tr>
                <tr ng-repeat="op in ques.options"
                        ng-class="{'bg-success':op.isAnswer==true}">

                    <td colspan="4">
                        <strong>{{$index | integreToChar}} : </strong><span ng-bind-html="op.option | escapeHtml"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><strong>Level : </strong>{{ques.level}}</td>
                    <td colspan="1"><strong>Type : </strong>{{ques.questionType}}</td>
                    <td colspan="1"><strong>Active : </strong>{{ques.isActive}}</td>
                    <td colspan="1"><strong>Verified : </strong>{{ques.isVerified}}</td>
                </tr>
            </table>
        </div>

    </form>

</div>
<hr/>
