<div class="row" id="alert" ng-if="!headerOff">
<!--
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <svg class="glyph stroked sound on">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a>
        </li>
        <li>Home</li>
        
    </ol>
--><br/>
    <div class="nav-control">
        <div class="col-lg-7">
            <input type="text" class="form-control" ng-model="search"><button class="search">Search</button>
        </div>
        <div class="col-lg-2">
            <a href="#/askquestion" class="btn btn-success">Ask Question</a>
        </div>
        <div class="col-lg-3">
            <a  href="#/broadcast" class="btn btn-warning btn-large">Broadcast Your Skill</a>
        </div>
    </div>
</div>