<!--
<div id="alert" ng-if="alert">
    <div class="alert alert-{{alert.type}} alert-dismissible" role="alert">
      <button type="button" class="close" ng-click="hideAlert()"><span aria-hidden="true">&times;</span></button>
        <strong>{{alert.type | uppercase }} :: </strong> {{alert.message}}
    </div>
</div>
-->

<div class="row" id="alert">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <svg class="glyph stroked sound on">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a>
        </li>
        <li>Home</li>
<!--
        <li class="active">
            <div class="alert alert-{{alert.type}} alert-dismissible" role="alert">
              <button type="button" class="close" ng-click="hideAlert()"><span aria-hidden="true">&times;</span></button>
                <strong>{{alert.type | uppercase }} :: </strong> {{alert.message}}
            </div>
        </li>
-->
    </ol>
</div>