
<form ng-submit="saveTopic()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Topic Name" ng-model="topic.name">
  </div>
  <div class="form-group">
    <label for="topicType">Topic Type</label>
<!--    <input type="text" class="form-control" id="topicType" placeholder="Topic Type" ng-model="topic.topicType">-->
      <select
              id="topicType"
              ng-model="topic.topicType"
              ng-options="op as op for op in topicTypeAvalOptions.options" >
      </select>
      {{topic.topicType}}
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="topic.isActive" ng-value="{{topic.isActive}}"> Active
    </label>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>