
<form ng-submit="test()">
    <input type="submit" class="btn btn-success"/>
    <button type="button" class="btn btn-success" ng-click="addOption()">Add Option</button>
    <hr/>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="question" class="col-sm-2 control-label">Question</label>
            <div class="col-sm-10">
              <textarea class="form-control" ng-model="ques.question">{{ques.question}}</textarea>
            </div>
        </div>
         <div class="form-group">
             <label for="explanation" class="col-sm-2 control-label">Explanation</label>
             <div class="col-sm-10">
                <textarea class="form-control" ng-model="ques.explanation">{{ques.explanation}}</textarea>
             </div>
        </div>
        <div class="form-group">
            <label for="options" class="col-sm-2 control-label">Options</label>
            <div class="col-sm-10">
                <div ng-repeat="op in ques.options">
                    <div>
                        <label for="option-$index">
                            Option {{$index | integreToChar}}
                            <span ng-if="op.isAnswer"  class="label label-success">Answer</span>
                        </label>
                        <textarea ng-model="op.option" class="form-control">{{op.option}}</textarea>
                        Make Answer :: <input type="checkbox" ng-model="op.isAnswer" ng-value="{{op.isAnswer}}">
                        <button type="button" ng-click="deleteOption(op)" class="btn btn-small btn-danger">Delete Option</button>
                    </div><br/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="level" class="col-sm-2 control-label">Level</label>
            <div class="col-sm-2">
                <input type="text" ng-model="ques.level" value="{{ques.level}}" id="level" class="form-control">
            </div>
        </div>
        <div class="form-group disabled">
            <label for="questionType" class="col-sm-2 control-label">Question Type</label>
            <div class="col-sm-2">
                <input type="text" disabled="disabled" ng-model="ques.questionType" value="{{ques.questionType}}" id="questionType" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="isActive" class="col-sm-2 control-label">Active</label>
            <div class="col-sm-2">
                <input type="checkbox" ng-model="ques.isActive" ng-value="{{ques.isActive}}">
            </div>
        </div>
        <div class="form-group">
            <label for="isVerified" class="col-sm-2 control-label">Verified</label>
            <div class="col-sm-2">
                <input type="checkbox" ng-model="ques.isVerified" ng-value="ques.isVerified">
            </div>
        </div>
    </div>
    
</form>