<div><br/>
    <div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="xpert pointer" ng-repeat="xpert in xperts" data-href="#/xpert/{{xpert.id}}">
                        <div class="img">
                            <img src="{{xpert.imageName | userThumb}}" height="100px" width="100px;">
                        </div>
                        <div class="info">
                            <span>{{xpert.name}}</span>
                        </div>
                        <div class="skill">
                            {{xpert.skillDTOList[0].skill}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Questions</div>
                <div class="panel-body">
                   <div class="question-wrapper" ng-repeat="ques in questions" ng-click="showQuestion();">
                       <div class="question pointer" data-href="#/question/{{ques.id}}">
                          <div class="ques-inner">
                           {{ques.question}}
                           </div>
                           <div class="ques-options">
                                <div class="col-lg-6">
                                   Views :: {{ques.viewCount}}
                               </div>
                                <div class="col-lg-6">
                                   Answers :: {{ques.answerCount}}
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Experts Broadcasts</div>
                <div class="panel-body">
                    <div class="pointer" ng-repeat="bro in broadcasts" data-href="#/receive/{{bro.channel}}">
                        <div class="col-lg-4">
                            <img src="{{bro.xpertImageName | userThumb}}">
                        </div>
                        <div class="col-lg-8">
                            <strong>{{bro.name}}</strong>
                            <hr/>
                            <small>By {{bro.xpertName}}</small><br/>
                            <small>Skills : </small>
                            <small ng-repeat="skill in bro.skills">{{skill.skill}}</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        
</div>